# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

app/.venv

# secrets
apikey.py

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg
*.log
*.pot
*.po
*.mo

# Flask
instance/
*.pyc
*.pyo
*.egg-info/
*.egg
*.log
*.pot
*.po
*.mo

# React
/node_modules
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*